<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts")
</head>
<body>
    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    @RenderBody()
</body>
</html>