<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts")
</head>
<body>
    <div class="fixed-top-center">
        @RenderPage("~/Views/Shared/_NavBar.cshtml")
    </div>
        

    
        @RenderBody()

</body>
</html>