@model gcutech.Models.User

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._credentials._userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._credentials._userName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { id = Model._userId })
    @Html.ActionLink("Delete", "OnDelete", "Account")
    @Html.ActionLink("Home", "Index", "Home")
</p>
